body {
   
}
:root{
    --bgcolor: #E8E8E8;
    --fontcolor: #333;
    --bordcolor: #999;
}
#pageContent .layui-laypage span,
#pageContent .layui-laypage a,
#pageContent select,

#layui-layedit #LAY_layedit_1{
    color: var(--fontcolor) !important;
    background-color:var(--bgcolor) !important;
    border:1px solid var(--bordcolor) !important;
}