
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Home/Main.cshtml";
}
@section Head{
    <!--自己的-->
    <link href="~/Content/CSS/Article/list.css" rel="stylesheet" />
}
<div class="article">
    <div class="article-content">
        <ul>
            <li>
                <div class="article-list clearfloat ">
                    <div class="article-list-head">
                        <h2>Android环境搭建及Ionic打包（win7）</h2>
                    </div>
                    <div class="article-list-content">
                        <p>
                            摘要: 本人刚刚接触Ionic3，初步进行打包操作，将其遇到的问题和整个流程记录下载，方便以后的巩固，也为小白们提供一个参考。因本人没有appleヽ(ー_ー)ノ，而且使用的是WIN7系统，所以暂时只提供了WIN7的Android环境搭建（Android环境已经搭建好了可直接移至第三步），等我有时间会补上其他
                        </p>
                    </div>
                    <div class="article-list-foot">
                        <span style="float:left"><a href="/Article/Detail">阅读全文</a></span>
                        <span style="float:right">posted @@<span>2019-04-06</span><span>风雨流逝</span>阅读<span>100</span>评论<span>10</span></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="article-list clearfloat ">
                    <div class="article-list-head">
                        <h2>Android环境搭建及Ionic打包（win7）</h2>
                    </div>
                    <div class="article-list-content">
                        <p>
                            摘要: 本人刚刚接触Ionic3，初步进行打包操作，将其遇到的问题和整个流程记录下载，方便以后的巩固，也为小白们提供一个参考。因本人没有appleヽ(ー_ー)ノ，而且使用的是WIN7系统，所以暂时只提供了WIN7的Android环境搭建（Android环境已经搭建好了可直接移至第三步），等我有时间会补上其他
                        </p>
                    </div>
                    <div class="article-list-foot">
                        <span style="float:left"><a href="#">阅读全文</a></span>
                        <span style="float:right">posted @@<span>2019-04-06</span><span>风雨流逝</span>阅读<span>100</span>评论<span>10</span></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="article-list clearfloat ">
                    <div class="article-list-head">
                        <h2>Android环境搭建及Ionic打包（win7）</h2>
                    </div>
                    <div class="article-list-content">
                        <p>
                            摘要: 本人刚刚接触Ionic3，初步进行打包操作，将其遇到的问题和整个流程记录下载，方便以后的巩固，也为小白们提供一个参考。因本人没有appleヽ(ー_ー)ノ，而且使用的是WIN7系统，所以暂时只提供了WIN7的Android环境搭建（Android环境已经搭建好了可直接移至第三步），等我有时间会补上其他
                        </p>
                    </div>
                    <div class="article-list-foot">
                        <span style="float:left"><a href="#">阅读全文</a></span>
                        <span style="float:right">posted @@<span>2019-04-06</span><span>风雨流逝</span>阅读<span id="readCount">100</span>评论<span id="commentCount">10</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="article-page">
        <div id="pageContent"></div>
    </div>
</div>
<script>
    laypage.render({
        elem: 'pageContent'
    , count: 100
    , layout: ['count', 'prev', 'page', 'next', 'limit']
        ,groups:3
    , jump: function (obj) {
        console.log(obj)
    }
    });
</script>