
<link href="~/Content/CSS/Home/Main/rightContainer/rightContainer.css" rel="stylesheet" />

<!--日历的-->
<link href="~/Content/CSS/Home/Main/rightContainer/calendar.css" rel="stylesheet" />
<div class="rihgt-container">
    <div class="calendar-container">
        <div id="calendar" class="calendar"></div>
        <script src="~/Content/JavaScript/Home/rightContainer/calendar.js"></script>
    </div>
    @*<div class="music-container">

        </div>*@
    <div class="recommend-container">
        <h3>推荐</h3>
        <ul>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
        </ul>
    </div>
    <div class="hot-container">
        <h3>热门</h3>
        <ul>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
            <li><a href="#">Antd Table组件 配置规范</a></li>
        </ul>
    </div>
    <div class="label-container">
        <h3>标签</h3>
    </div>
</div>