.detail {
    float: left;
    width: 65% !important;
}
.content{
    border:1px solid #ffffff;
    padding:20px;
    border-radius:5px;
}
.content-foot{
    /*margin-top:10px;*/
}
.info{
    margin:10px 0;
}
.info img {
    width: 40px;
    height: 40px;
    vertical-align: middle
}
.info span {
    padding-left:10px;
    vertical-align: middle
}
.page{
    margin:10px 0;
}
.page a{
    display:block
}
#eidtor>div{
    background-color:var(--bgcolor) !important;
}
#eidtor>.w-e-toolbar .w-e-menu:hover i{
    color:#fff !important
}
.comment-submit {
    /*background-color:white*/
}
.comment-submit button {
    margin-top: 10px
}
.comment-list li{
    padding:20px 0;
    border-top:1px solid #ffffff
}
.user-headimg {
    display: inline-block;
    vertical-align: top;
    float: left
}
.user-headimg img{
    width:50px;
    height:50px;
}
.comment-main {
    display: inline-block;
    float: left;
    width:calc(100% - 60px);
    margin-left:10px;
}
.comment-h2{
    margin:10px;
}
.comment-time{
    float:right;
}
.comment-content{
    margin:10px 0;
}
.comment-foot{
    float:right;
}
.comment-foot span{
    margin:0 10px;
}