.article {
    float: left;
    width: 65% !important;
}

.article li {
    background-color:var(--bgcolor);
    padding:20px;
    border-radius:5px;
    margin-bottom:20px;
    font-size:14px;
}
.article .article-content li
{
    color: var(--fontcolor) !important;
    background-color:var(--bgcolor) !important;
}
.article .article-content li{
    border:1px solid var(--bordcolor);
}
.article-list-head {
    /*margin-bottom: 10px;*/
}
.article-list-content {
    line-height:20px;
    margin:10px 0
}

.article-list-foot span{
    padding-right:5px
}
#readCount,#commentCount{
    padding:0 5px;
}
#pageContent{
    text-align: center;
}
